# object files
*.d
*.o
*.pyc

# emacs temp files
*~

# vi temp files
*.swp

# test output
pin.log
pintool.log
sim.out
output_files

# misc
lib/libcarbon_sim.a
lib/pin_sim.so

# result files
results/
!results/.DO_NOT_DELETE

# McPAT temporary files
.mcpat*
common/mcpat/mcpat.out*
