# unit tests
unit/cannon/cannon
unit/spawn/spawn
unit/simple_dist/simple_dist
unit/mutex/mutex
unit/cond/cond_test
unit/broadcast/broadcast_test
unit/barrier/barrier
unit/shared_mem/test_evic
unit/shared_mem/test_new
unit/spawn_join_perf/main

# apps
apps/cannon/cannon
apps/ping_pong/ping_pong
apps/simple/simple_test
apps/capi_worker/capi_worker
apps/1d_jacobi/jacobi

# benchmarks
benchmarks/barnes/*.[ch]
benchmarks/barnes/barnes
benchmarks/blackscholes/blackscholes
benchmarks/fmm/*.[ch]
benchmarks/fmm/fmm
benchmarks/ocean_contiguous/*.[ch]
benchmarks/ocean_contiguous/ocean_contiguous
benchmarks/ocean_non_contiguous/*.[ch]
benchmarks/ocean_non_contiguous/ocean_non_contiguous
benchmarks/volrend/*.[ch]
benchmarks/volrend/volrend
benchmarks/water-nsquared/*.[ch]
benchmarks/water-nsquared/water-nsquared
benchmarks/water-spatial/*.[ch]
benchmarks/water-spatial/water-spatial
benchmarks/raytrace/*.[ch]
benchmarks/raytrace/raytrace
benchmarks/radiosity/*.[ch]
benchmarks/radiosity/radiosity
benchmarks/radiosity/glibdumb/glib.a
benchmarks/radiosity/glibps/glibps.a
benchmarks/fft/*[.ch]
benchmarks/fft/fft
benchmarks/radix/*.[ch]
benchmarks/radix/radix
benchmarks/lu_contiguous/*.[ch]
benchmarks/lu_contiguous/lu_contiguous
benchmarks/lu_non_contiguous/*.[ch]
benchmarks/lu_non_contiguous/lu_non_contiguous
benchmarks/cholesky/*.[ch]
benchmarks/cholesky/cholesky
