# All comment lines should start with the '#' character
# Please enter the DVFS levels in a table where each row has the following format:
# <Voltage (in V)> <Max-Frequency-Factor>
# Max-Frequency at a particular Voltage = Max-Frequency-Factor * Max-Frequency
1.1  1.0
1.04 0.87
0.98 0.75
0.92 0.62
0.86 0.49
0.8  0.36
