
# Some configuration options
IsPerformTimingOptimization = FALSE

# Instance
ModelName = ATAC

# Query string used to choose what will be output by Orion
QueryString = 
Energy>>ATAC->ATACENet->SiteToRouterLink:Send@0;
Energy>>ATAC->ATACENet->RouterToSiteLink:Send@0;
Energy>>ATAC->ATACENet->RouterToRouterLink:Send@0;
Energy>>ATAC->ATACENet->RouterToHubLink:Send@0;
Energy>>ATAC->ATACENet->HubToRouterLink:Send@0;
Energy>>ATAC->ATACENet->MeshRouter:ReadBuffer@0;
Energy>>ATAC->ATACENet->MeshRouter:WriteBuffer@0;
Energy>>ATAC->ATACENet->MeshRouter:ArbitrateSwitch->ArbitrateStage1@0;
Energy>>ATAC->ATACENet->MeshRouter:ArbitrateSwitch->ArbitrateStage2@0;
Energy>>ATAC->ATACENet->MeshRouter:TraverseCrossbar->Multicast1@0;
Energy>>ATAC->ATACENet->MeshAPRouter:ReadBuffer@0;
Energy>>ATAC->ATACENet->MeshAPRouter:WriteBuffer@0;
Energy>>ATAC->ATACENet->MeshAPRouter:ArbitrateSwitch->ArbitrateStage1@0;
Energy>>ATAC->ATACENet->MeshAPRouter:ArbitrateSwitch->ArbitrateStage2@0;
Energy>>ATAC->ATACENet->MeshAPRouter:TraverseCrossbar->Multicast1@0;
Energy>>ATAC->ATACANet->SendHub:ReadBuffer@0;
Energy>>ATAC->ATACANet->SendHub:WriteBuffer@0;
Energy>>ATAC->ATACANet->SendHub:ArbitrateSwitch->ArbitrateStage1@0;
Energy>>ATAC->ATACANet->SendHub:ArbitrateSwitch->ArbitrateStage2@0;
Energy>>ATAC->ATACANet->SendHub:TraverseCrossbar->Multicast1@0;
Energy>>ATAC->ATACANet->SendHubToTxLink:Send@0;
Energy>>ATAC->ATACANet->OpticalLinkBackendTx:ProcessBits@0;
Energy>>ATAC->ATACANet->OpticalLinkBackendRx:ProcessBits@0;
Energy>>ATAC->ATACANet->RxToReceiveHubLink:Send@0;
Energy>>ATAC->ATACANet->ReceiveHubStage1:ReadBuffer@0;
Energy>>ATAC->ATACANet->ReceiveHubStage1:WriteBuffer@0;
Energy>>ATAC->ATACANet->ReceiveHubStage1:ArbitrateSwitch->ArbitrateStage1@0;
Energy>>ATAC->ATACANet->ReceiveHubStage1:ArbitrateSwitch->ArbitrateStage2@0;
Energy>>ATAC->ATACANet->ReceiveHubStage1:TraverseCrossbar->Multicast1@0;
Energy>>ATAC->ATACANet->ReceiveHubStage2:ReadBuffer@0;
Energy>>ATAC->ATACANet->ReceiveHubStage2:WriteBuffer@0;
Energy>>ATAC->ATACANet->ReceiveHubStage2:ArbitrateSwitch->ArbitrateStage1@0;
Energy>>ATAC->ATACANet->ReceiveHubStage2:ArbitrateSwitch->ArbitrateStage2@0;
Energy>>ATAC->ATACANet->ReceiveHubStage2:TraverseCrossbar->Multicast1@0;
Energy>>ATAC->ATACANet->SWMRLink:BroadcastFlit@0;
Energy>>ATAC->ATACANet->SWMRLink:MulticastFlit1@0;
Energy>>ATAC->ATACANet:BroadcastCredits@0;
Energy>>ATAC->ATACBNet:ClusterBroadcastFlit@0;
NddPower>>ATAC:Laser@0;
NddPower>>ATAC:RingTuning@0;
NddPower>>ATAC:Leakage@0;
Area>>ATAC:Active@0;
Area>>ATAC:GlobalWire@0;
Area>>ATAC:Photonic@0;

# Orion Configurations

# Technology file (see models in tech/models)
ElectricalTechModelFilename     = F:/Work/orion/orion3.0/tech/tech_models/SOI45LVT.model
PhotonicTechModelFilename       = F:/Work/orion/orion3.0/tech/tech_models/Photonics.model

# ATAC parameters
ClockFrequency                  = 1e9
NumberTiles                     = 1024
NumberClusters                  = 64
NumberBNets                     = 1
NumberBitsPerFlit               = 64
NumberTilesPerRouter            = 1
NumberPortsPerCluster           = 4
NumberOpticalChannels           = 1
ATACANet->NumberCreditSignals   = 2

# Router-specific parameters
Router->NumberVirtualNetworks                       = 1
Router->NumberVirtualChannelsPerVirtualNetwork      = 1
Router->NumberBuffersPerVirtualChannel              = [4]
Router->InputPort->BufferModel                      = DFFRAM
Router->CrossbarModel                               = MultiplexerCrossbar
Router->SwitchAllocator->ArbiterModel               = MatrixArbiter
Router->ClockTreeModel                              = BroadcastHTree
Router->ClockTree->NumberLevels                     = 6
Router->ClockTree->WireLayer                        = Intermediate
Router->ClockTree->WireWidthMultiplier              = 1.0

# Electrical Link-specific parameters
Link->WireLayer             = Global
Link->WireWidthMultiplier   = 1.0
Link->WireSpacingMultiplier = 1.0

# Photonic link-specfic parameters
LinkDataRate                    = 1e9
ATACANet->LaserType             = Throttled                # Standard, Throttled
ATACANet->RingTuningMethod      = ElectricalAssistWithBitReshuffle   # FullThermal, AthermalWithTrim, ThermalWithBitReshuffle, ElectricalAssistWithBitReshuffle
    
# Physical organization properties
TilePitch           = 1e-3